body {
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background: linear-gradient(#4CB963,#B2FFD6);
    color: #ffffff;
}

h1, h2, h3, h4, p {
    text-shadow: 0 0 1px black;
}

#bff-img {
    width: 150px;
    border-radius: 50%;
    border: 6px solid #EFB0C9;
    margin-bottom: 10px;
}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 5px 0 10px 0;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
}

#header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gift-section-1 {
    margin-top: 50px;
}

#gift-title-1 {
    margin-bottom: 10px;
}

#gift-hint-1 {
    margin-top: 0;
}

#gift-img-1 {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("https://i.postimg.cc/C5my2tN2/Hover-Wrapped-gifts.jpg");
    background-size: cover;
}

#gift-img-1:hover {
    background-image: url("https://i.postimg.cc/NGdx5p2j/Hover-Happy-Birthday400.gif");
}

#gift-section-2 {
    margin-top: 50px;
}

#gift-title-2 {
    margin-bottom: 20px;
}

#gift-img-2 {
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: 6px solid white;
    border-radius: 10px;
    background-image: url("https://i.postimg.cc/C5my2tN2/Hover-Wrapped-gifts.jpg");
    background-size: cover;
}

#gift-img-2:hover {
    background-image: url("https://i.postimg.cc/NMg10HgX/Hover-Cooldown400.gif");
}
